.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #1d46b696;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
}

.banner-section {
  background-color: #14121296;
  color: rgb(194, 213, 224);
  padding: 2rem 0;
}

.features-section, .cases-section {
  background-color: rgba(27, 28, 29, 0.575);
  padding: 2rem 0;
}

.columns.is-variable {
  --column-gap: 2rem;
}

.feature, .case {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

.feature img, .case img {
  max-width: 100%;
  height: auto;
}

.feature:nth-child(even) .image, .case:nth-child(even) .image {
  order: 2;
}

.feature:nth-child(even) .column.is-half, .case:nth-child(even) .column.is-half {
  order: 1;
}

.cta-section {
  background-color: #091e42;
  color: rgb(17, 100, 133);
  padding: 2rem 0;
}

.cta-note a {
  color: #4aeec5;
  text-decoration: underline;
}

.footer {
  background-color: #1a1c1d;
  color: white;
  padding: 2rem 0;
}

.footer .content {
  text-align: center;
}

.footer .footer-nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.jinja  {
  color: #1a43ccaf
}