/* Register.css */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    width: 80%; /* Opcional: ajusta el ancho según tus necesidades */
    max-width: 400px; /* Opcional: establece un ancho máximo */
    opacity: 1;
    transition: opacity 2s ease-in-out; /* Transición más larga para un desvanecimiento progresivo */
  }
  
  .popup-hidden {
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  