.task-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.task-modal {
  position: relative;
  background: #2c3e50;
  padding: 20px;
  border-radius: 10px;
  outline: none;
  max-height: 80vh;
  width: 90%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.task-modal-header {
  padding: 16px;
  background-color: #34495e;
  color: #ecf0f1;
  border-bottom: 1px solid #555;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-modal-title {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  background-color: #5d6d7e;
  color: #fff;
  font-size: 1.2em;
}

.task-modal-body {
  display: flex;
  flex-direction: row;
  padding: 16px;
  overflow-y: auto;
  background-color: #34495e;
  flex-grow: 1;
}

.task-modal-description {
  flex-grow: 1;
  margin-right: 16px;
}

.task-modal-description .ql-container {
  background-color: #5d6d7e;
  color: #fff;
  border-radius: 4px;
  min-height: 150px;
}

.task-modal-description .ql-toolbar .ql-picker,
.task-modal-description .ql-toolbar .ql-stroke,
.task-modal-description .ql-toolbar .ql-fill,
.task-modal-description .ql-toolbar .ql-picker-label,
.task-modal-description .ql-toolbar .ql-picker-options {
  color: #000 !important;
  stroke: #0000007a !important;
  fill: #0000007a !important;
}

.task-modal-description .ql-toolbar .ql-picker-options {
  background-color: #fff;
}

.task-modal-sidepanel {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-modal-sidepanel button {
  padding: 10px;
  border-radius: 5px;
  background-color: #5d637e;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.task-modal-sidepanel button:hover {
  background-color: #4a506e;
}

.task-modal-footer {
  padding: 16px;
  background-color: #34495e;
  border-top: 1px solid #555;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.task-modal-save-button, .task-modal-cancel-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #16a085;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.task-modal-cancel-button {
  background-color: #c0392b;
}

.task-modal-save-button:hover, .task-modal-cancel-button:hover {
  background-color: #1abc9c;
  opacity: 0.85;
}

.task-modal-cancel-button:hover {
  background-color: #e74c3c;
  opacity: 0.85;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .task-modal {
    width: 90%;
  }

  .task-modal-body {
    flex-direction: column;
  }

  .task-modal-description {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .task-modal-sidepanel {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
