.App {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration:solid;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #55555570;
  margin-bottom: 16px;
}

.search-input {
  padding: 8px 32px 8px 8px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-position: right 8px center;
  background-size: 16px;
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

.desk {
  display: flex;
  height:fit-content ;
  overflow: hidden;
  max-height: fit-content;
}

.column {
  background: #797979a1;
  border-radius: 8px;
  padding: 16px;
  min-width: 250px;
  max-height: calc(100vh - 80px);
  overflow: hidden;
}

.card-list {
  margin-top: 16px;
}

.card {
  background: #757575a1;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(4, 224, 188, 0.897);
}


.editable-title-input {
  display: flex;
  width: 100%;
  padding: 8px;
  border: 1px solid #34a06a;
  border-radius: 4px;
}

.new-column-form {
  display: flex;
  margin-top: 16px;
  padding: 16px;
  background: #06a598;
  border-radius: 8px;
}

.new-column-title, .new-card-title, .new-card-content, .add-card-button, .add-column-button {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1px;
  padding: 6px;
  border: 1px solid #c619cc80;
  border-radius: 4px;
  flex-wrap: wrap;
  align-items: center;
}

.column-title {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #a01212;
  border-radius: 4px;
}


